<div class="container-fluid" style="padding: 0px;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <img src="../../assets/images/Accenture_Logo_white.png">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <app-application-header></app-application-header>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <app-application-footer></app-application-footer>
    </div>
  </div>
</div>